<div id="player">
	<div class="player-close-button">
		<%= link_to stop_path, remote: true do %>
			<%= fa_icon "times-circle" %>
		<% end %>
	</div>
	<img class="player-image" id="player-image" src="" />
	<div class="player-buttons">
		<div class="player-button <%= @chromecast.playing ? 'active' : '' %>" id="player-pause-button">
			<%= link_to play_pause_path, remote: true do %>
				<%= fa_icon "pause", class: "pause-button", id: "pause-button" %>
			<% end %>
		</div>
		<div class="player-button <%= !@chromecast.playing ? 'active' : '' %>" id="player-play-button">
			<%= link_to play_pause_path, remote: true do %>
				<%= fa_icon "play", class: "play-button", id: "play-button" %>
			<% end %>
		</div>
		<div class="player-button active" id="player-volume-up">
			<%= link_to sound_toggle_path, remote: true do %>
				<%= fa_icon 'volume-up' %>
			<% end %>
		</div>
		<div class="player-button" id="player-volume-mute">
			<%= link_to sound_toggle_path, remote: true do %>
				<%= fa_icon 'volume-off' %>
			<% end %>
		</div>
		<div class="player-button active" id="player-volume-mute">
			<%= link_to time_path, remote: true do %>
				<%= fa_icon 'history' %>
			<% end %>
		</div>
	</div>
</div>