<!DOCTYPE html>
<html>
  <head>
    <title>Pi Movies</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<% @chromecast = CHROMECAST %>
    <%= render partial: 'layouts/navbar.html.erb' %>
    <%= render partial: 'magic/player.html.erb' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
